@*
@inject UserManager<ApplicationUser> UserManager;

@if (!User.Identity.IsAuthenticated)
{
    <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Login">
        <i class="bi bi-box-arrow-in-right"></i> Connexion
    </a>
    <span style="padding: 5px;"></span>

    <a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Account" asp-action="Register">
        <i class="bi bi-person-plus"></i> Inscrivez-vous
    </a>
}
else
{

    @*User profile section*@ @*
    <div class="dropdown">
        <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-bs-toggle="dropdown"
                aria-expanded="false">
            <i class="bi bi-person-badge"></i> Salut @UserManager.GetUserName(User)
        </button>
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            <li>
                <a class="dropdown-item" asp-controller="Orders" asp-action="Index">
                    <i class="bi bi-list"></i> Commandes
                </a>
            </li>

            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Users">
                        <i class="bi bi-people"></i> Utilisateurs
                    </a>
                </li>
            }
        </ul>
    </div>
    <span style="padding: 5px;"></span>
    <form asp-controller="Account" asp-action="Logout">
        <button class="btn btn-outline-danger my-2 my-sm-0">
            <i class="bi bi-box-arrow-in-right"></i> Déconnexion
        </button>
    </form>
}

*@
@inject UserManager<ApplicationUser> UserManager

@if (!User.Identity.IsAuthenticated)
{
    <div class="d-flex">
        <a class="btn btn-outline-success me-2" asp-controller="Account" asp-action="Login">
            <i class="bi bi-box-arrow-in-right"></i> Connexion
        </a>
        <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Register">
            <i class="bi bi-person-plus"></i> Inscrivez-vous
        </a>
    </div>
}
else
{
    <div class="dropdown d-inline-block me-2">
        <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-bs-toggle="dropdown"
                aria-expanded="false">
            <i class="bi bi-person-badge"></i> Salut, @UserManager.GetUserName(User)
        </button>
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            <li>
                <a class="dropdown-item" asp-controller="Orders" asp-action="Index">
                    <i class="bi bi-list"></i> Commandes
                </a>
            </li>

            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Users">
                        <i class="bi bi-people"></i> Utilisateurs
                    </a>
                </li>
            }
        </ul>
    </div>
    <form asp-controller="Account" asp-action="Logout" class="d-inline-block">
        <button class="btn btn-outline-danger">
            <i class="bi bi-box-arrow-in-right"></i> Déconnexion
        </button>
    </form>
}
