@model ErrorViewModel
@{
    ViewData["Title"] = "Erreur";
}

<h1 class="text-danger">Erreur.</h1>
<h2 class="text-danger">Une erreur s'est produite lors du traitement de votre demande.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID de la demande :</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Mode Développement</h3>
<p>
    Basculer en mode <strong>Développement</strong> affichera des informations plus détaillées sur l'erreur qui s'est produite.
</p>
<p>
    <strong>Le mode Développement ne devrait pas être activé pour les applications déployées.</strong>
    Cela peut entraîner l'affichage d'informations sensibles, des exceptions aux utilisateurs finaux.
    Pour le débogage local, activez le mode <strong>Développement</strong> en définissant la variable d'environnement <strong>ASPNETCORE_ENVIRONMENT</strong> sur <strong>Développement</strong>
    et redémarrez l'application.
</p>
