<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Votre compte a été créé avec succès</h2>
        <p>Vous pouvez maintenant vous connecter à votre compte en utilisant vos identifiants.</p>
        <hr />
        <p>Merci !</p>
    </div>
</div>
